# Reservoir Engr: Bourdet Derivative for Pressure Transient Analysis (PTA)
> **Anthony Jimenez** <br>
> *26 August 2021*<br>
> [http://www.fa-jimenez.com/](http://www.fa-jimenez.com/)

**This data is sourced from the Society of Petroleum Engineers Data Repository as part of the SPE Bleeding Edge of RTA Group (SPE-BERG).**


SPE Data Repository: Data Set: dataset_1, Well Number: all_wells. From URL: https://www.spe.org/datasets/dataset_1/csv_files/dataset_1_all_wells/production_data

## Import necessary libraries

In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
from plotly.subplots import make_subplots
import plotly.graph_objects as go
from scipy.optimize import differential_evolution

## Load, review, and filter production data
Steps accomplished in this section:
- Load and review production data with df.head() and df.describe pandas functions.
- Identify well with largest history of production data available.
- Filter main dataframe to just a single well.
- Drop unnecessary columns from analysis.
- "Melt" dataframe to long-format (will make plotting easier later).

**Analysis will be conducted on the LORIKEET well since this has 4031 days of production (DOP)**

In [6]:
# Load in data
df_url = r'https://raw.githubusercontent.com/ajmz1/DCA_optimizer/master/bourdet-buildup-2.csv'
df = pd.read_csv(df_url)
df

,dt_hr,dp_psi,pD_0.0,pD_0.1,ts_hr
0,0.00417,0.57,4.67619,4.67619,-8.21072
1,0.00833,3.81,5.99244,5.99244,-7.51785
2,0.0125,6.55,9.88966,9.88966,-7.11265
3,0.01667,10.03,13.47654,13.47654,-6.82524
4,0.02083,13.27,17.11777,17.11777,-6.60237
...,...,...,...,...,...
100,25.25,773.99,33.76653,28.71951,-0.47445
101,26.25,774.49,25.79328,26.18140,-0.45995
102,27.25,774.73,23.98014,31.10344,-0.44633
103,28.5,775.23,31.41352,26.52348,-0.43041
104,28.50000 775.23000 31.41352 26.52348 -0.43041,NaN,NaN,NaN,NaN

In [4]:
x1 = 1e-2
x2 = 1.5e-2
x2-x1

0.004999999999999999

In [5]:
np.log(x2) - np.log(x1)

0.4054651081081637